@import '../../styles/helpers.module';

.sliders {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    .item {
        position: relative;
        
        h5 {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
            display: inline;

            a {
                font-size: 14px;
                color: #1c1c1c;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 12px 15px;
                background: #ffffff;
                display: block;
            }
        }
    }
}

.featuredProduct {
    margin-top: 60px;

    .title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                bottom: -15px;
                right: 0;
                height: 4px;
                width: 80px;
                background: #7fad39;
                content: "";
                margin: 0 auto;
            }
        }
    }

    .featuredWrapper {
        ul.featuredControls {
            display: flex;
            justify-content: center;
            position: relative;

            li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .marker {
                position: absolute;
                left: 0;
                height: 4px;
                width: 0;
                background: #7fad39;
                bottom: -8px;
                transition: .5s;
                border-radius: 4px;
            }
        }

        ul.featuredItems {
            width: 100%;
            padding: 40px 0;

            li {
                ul {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    justify-items: center;
                    gap: 20px;

                    li {
                        &:hover {
                            .image {
                                .actions {
                                    opacity: 1;
                                }
                            }
                        }

                        .image {
                            position: relative;

                            .actions {
                                opacity: 0;
                                transition: opacity 1s ease;

                                .addToCart {
                                    position: absolute;
                                    bottom: 22px;
                                    left: 50%;
                                    transform: translate(-50%, 0);
                                    background-color: #ffffff;
                                    padding: 10px 30px;
                                    color: #252525;
                                    transition: .3s ease;
                                    white-space: nowrap;
    
                                    &:hover {
                                        color: #ffffff;
                                        background-color: #7fad39;
                                    }
                                }

                                .favorite {
                                    position: absolute;
                                    top: 20px;
                                    right: 20px;
                                    width: 35px;
                                    height: 35px;
                                    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
                                    border-radius: 50%;
                                    transition: .3s ease;

                                    &:hover {
                                        box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
                                    }

                                    .likeIcon {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }
                        }

                        .itemText {
                            text-align: center;
                            margin-top: 10px;

                            h6 {
                                font-size: 16px;
                                font-weight: 400;
                                margin-bottom: 10px;

                                a {
                                    color: #252525;
                                    transition: .3s;

                                    &:hover {
                                        color: #7fad39;
                                    }
                                }
                            }

                            h5 {
                                color: #252525;
                                font-weight: 700;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    padding: 40px 0;

    .banner {
        width: 100%;
        height: 270px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        position: relative;

        .bannerText {
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translate(0, -50%);

            h3 {
                font-size: 26px;
                color: #252525;
                font-weight: 900;
                margin: 10px 0;
            }

            p {
                font-size: 16px;
                color: #6f6f6f;
                font-weight: 400;
                line-height: 26px;
                margin: 0 0 15px 0;
            }

            a {
                display: inline-block;
                font-size: 14px;
                padding: 10px 28px;
                background-color: #7fad39;
                color: #ffffff;
                letter-spacing: 2px;
                font-weight: 700;
            }
        }
    }
}

.fromTheBlog {
    margin-top: 60px;

    .title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                bottom: -15px;
                right: 0;
                height: 4px;
                width: 80px;
                background: #7fad39;
                content: "";
                margin: 0 auto;
            }
        }
    }

    .blogContents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        column-gap: 30px;
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;

        .blogText {
            padding: 20px 0;

            ul {
                display: flex;
                align-items: center;
                color: #b2b2b2;

                li {
                    margin-right: 20px;
                    
                    .calendatIcon {
                        margin-right: 5px;
                    }

                    .commentIcon {
                        margin-right: 5px;
                    }
                }
            }

            h5 {
                padding: 15px 0;
                font-size: 20px;
                font-weight: 700;

                a {
                    transition: .3s;
                    
                    &:hover {
                        color: #7fad39;
                    }
                }
            }

            p {
                font-size: 16px;
                color: #6f6f6f;
                line-height: 26px;
                font-weight: 400;
            }
        }
    }
}

@import '../../styles/responsive.module';

@include mediaXXL {
    .featuredProduct {
        .featuredWrapper {
            ul.featuredItems {
                li {
                    ul {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }
    }
}

@include mediaXL {

}

@include mediaLG {
    .featuredProduct {
        .featuredWrapper {
            ul.featuredItems {
                li {
                    ul {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }

    .banners {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 20px;
    }
}

@include mediaMD {
    .featuredProduct {
        .featuredWrapper {
            ul.featuredItems {
                li {
                    ul {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }

    .fromTheBlog {
        .blogContents {
            grid-template-columns: 1fr;
        }
    }
}

@include mediaSM {
    
}